/*.steps-indicator:before {
	background-color: #08f;
}*/
/*.steps-indicator li a:before {
  background-color: #08f;
}*/
.steps-indicator li.done a:before {
  background-color: #08f !important;
}
.steps-indicator li.current a:before {
  background-color: #08f !important;
}

.steps-indicator {
  padding-bottom: 5em;
}

.right {
  float: right;
}


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}






